@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.boxShadowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #2ec194;
}
.boxShadowContainer .container {
  position: relative;
  display: grid;
  width: 1200px;
  /*margin-left: 50px;*/
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.boxShadowContainer .box {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 30px auto;
  background: #fff;
  font-family: consolas;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.1);
}
.boxShadowContainer .shadow1 {
  -webkit-box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}
.boxShadowContainer .shadow2:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 90%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.boxShadowContainer .shadow3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.boxShadowContainer .shadow3:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.boxShadowContainer .shadow4:before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.boxShadowContainer .shadow5:before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.boxShadowContainer .shadow6 {
  background: #2ec194;
  border-radius: 15px;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), 15px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.boxShadowContainer .shadow7 {
  background: #2ec194;
  border-radius: 15px;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.boxShadowContainer .shadow4 {
  grid-row: span 2;
}

.checklist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #001925;
}
.checklist-container .list {
  padding: 30px 75px 10px 30px;
  position: relative;
  background: #042b3e;
  border-top: 50px solid #03a9f4;
}
.checklist-container h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  margin-left: 10px;
  display: inline-block;
  border-bottom: 4px solid #fff;
}
.checklist-container .list label {
  position: relative;
  display: block;
  margin: 40px 0;
  color: #fff;
  font-size: 24px;
}
.checklist-container .list input[type=checkbox] {
  -webkit-appearance: none;
}
.checklist-container .list i {
  position: absolute;
  top: 2px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
}
.checklist-container .list input[type=checkbox]:checked ~ i {
  top: 1px;
  border-top: none;
  border-right: none;
  height: 15px;
  width: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checklist-container .list span {
  position: relative;
  left: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.checklist-container .list span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.checklist-container .list input[type=checkbox]:checked ~ span {
  color: #154e6b;
}
.checklist-container .list input[type=checkbox]:checked ~ span:before {
  -webkit-transform: translateY(-50%) scaleX(1);
          transform: translateY(-50%) scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.reflecction-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #000;
}

.container {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2666666667));
  -webkit-transform-origin: center;
          transform-origin: center;
  max-width: 350px;
  -webkit-transform: perspective(800px) rotateY(20deg);
          transform: perspective(800px) rotateY(20deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container:hover img {
  opacity: 0.1;
}

.container img:hover {
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.hue-hexa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #000;
}
.hue-hexa .container {
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}
.hue-hexa .container .hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  background: #0f0;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@-webkit-keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.banner h2 span {
  color: #4978ff;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

.sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #000;
  text-decoration: none;
  background: #000;
  color: #fff;
}

.services {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}

.services .box {
  width: 350px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  width: 300px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.services .box .iconBx {
  margin-top: 25px;
}

.services .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px;
}

.services .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.stats {
  padding-top: 250px;
  background: #000;
  margin-top: -250px;
}

.stats h3,
.stats p {
  color: #fff;
}

.statsBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}

.statsBox h2 {
  color: #fff;
  font-size: 36px;
}

.statsBox h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.workBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.workBx .brand {
  position: relative;
  background: #4978ff;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workBx .brand:hover {
  background: #000;
}

.workBx .brand a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.workBx .brand:hover a {
  text-decoration: none;
  color: #fff;
}

.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.teamBx .member {
  position: relative;
  background: #f5f5f5;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.teamBx .member:hover .details {
  opacity: 1;
}

.teamBx .member .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.contact {
  background: #000;
}

.contact h3,
.contact p {
  color: #fff;
}

.conactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conactForm form {
  width: 100%;
}

.conactForm .row100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.conactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}

.conactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}

.conactForm .row100 input,
.conactForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}

.conactForm .row100 textarea {
  height: 100px;
}

.conactForm .row100 input::-webkit-input-placeholder, .conactForm .row100 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.conactForm .row100 input::-moz-placeholder, .conactForm .row100 textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.conactForm .row100 input:-ms-input-placeholder, .conactForm .row100 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.conactForm .row100 input::-ms-input-placeholder, .conactForm .row100 textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.conactForm .row100 input::placeholder,
.conactForm .row100 textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.conactForm .row100 input[type=submit] {
  background: #fff;
  color: #000;
  max-width: 100px;
  margin: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
}

.sci {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.sci ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sci ul li {
  list-style: none;
}

.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}

.sci ul li a img {
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 40px;
}

.sci ul li a:hover img {
  opacity: 0.5;
}

.copyright a {
  color: #fff;
}

.toggle {
  display: none;
}

@media (max-width: 992px) {
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    -webkit-box-shadow: 0 10px 0 #000;
            box-shadow: 0 10px 0 #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header.active .toggle:before {
    top: 14px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 0 0 0 #000;
            box-shadow: 0 0 0 #000;
  }
  header.active .toggle:after {
    bottom: 14px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header.active .toggle:before {
    top: 14px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 0 0 0 #000;
            box-shadow: 0 0 0 #000;
  }
  header.active .toggle:after {
    bottom: 14px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header ul {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 50px 100px;
    text-align: center;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    /*transform: translateY(-100%);*/
  }
  header.active ul {
    display: block;
    background: #fff;
    visibility: visible;
    opacity: 1;
    /*transform: translateY(0);*/
  }
  header.active ul li a {
    margin: 5px 0;
    font-size: 24px;
  }
  header,
  header.sticky {
    padding: 5px 50px;
    background: #fff;
  }
  header .logo,
  header ul li a {
    color: #000;
  }
  .banner {
    background-position: center;
  }
  .banner h2 {
    font-size: 60px;
    padding: 0 50px;
  }
  .sec {
    padding: 100px 50px 50px 50px;
  }
  h3 {
    font-size: 36px;
    line-height: 1em;
  }
  .services {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .services .box {
    width: 100%;
  }
  .stats {
    padding-top: 250px;
  }
  .conactForm .row100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .conactForm .row100 .inputBx50,
  .conactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0;
  }
  .sci {
    margin: 20px;
  }
  .sci ul li a img {
    -webkit-filter: invert(1);
            filter: invert(1);
    max-width: 24px;
  }
  .workBx .brand {
    background: #4978ff;
  }
}/*# sourceMappingURL=main.css.map */